<table class="table">
  <thead>
    <tr>
      <th scope="col">Level</th>
      <th scope="col">Task</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>あああ</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>いいい</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>ううう</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>えええ</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>おおお</td>
    </tr>
  </tbody>
</table>
